.random-screen {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #dd1616d1;
  opacity: 0.8;

  z-index: 1000;
}

.random-screen .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  padding: 0px 25px;

}

.random-screen .container p {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-title-in-primary);
  margin-top: 10px;
}